language: node_js
install: npm install
script: npm test
node_js:
- '10'
- '12'
branches:
  only:
  - master
notifications:
  email:
  - jagitch@163.com
after_success: tar -jcf server.tar.bz2 * scp server.tar.bz2 jagitch@106.12.156.228
  ssh jagitch@106.12.156.228 'mkdir -p server && tar -jxf server.tar.bz2 -C server'
  ssh jagitch@106.12.156.228 'cd server && pm2 app.js --name hello-koa'
dd:
- openssl aes-256-cbc -K $encrypted_8e3301ed1bb3_key -iv $encrypted_8e3301ed1bb3_iv
  -in id_rsa.enc -out ~\/.ssh/id_rsa -d
